{% extends "base.html" %}
{% block body %}

<h1> {{ request.user }} </h1>
  <input type="text" id="username">
  <input type="password" id="password">
  <button id="login">로그인</button>
  <button id="logout">로그아웃</button>
  <a href="{% url 'register' %}"> Register </a>

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <hr>
 {% for content in contetnts %}
    {% for image in content.image_set.all %}
        {{ image.order }}
        <img src = "{{ image.image.url }}" width="200">
    {% endfor %}
    <pre>
        {{ content.text }}
    </pre>
    <b>By. {{ content.user.username }} </b>
    <hr>
    {% endfor %}

    <script>
        $(document).ready(function () {
        $('#login').click(function() {
            $.post('/apis/v1/users/login/', {'username': $('#username').val(), 'password': $('#password').val()}, function() {
                location.reload();
            }).fail(function(data) {
                alert(data.responseJSON.message);
            });
        });
        $('#logout').click(function () {
            $.get('/apis/v1/users/logout/', {}, function() {
            location.reload();
            });
        });
        });
    </script>

{% endblock %}